    [[optclim_reuse]]
        inherit = None, HPC_SERIAL
        script = """
            DATASHR=$CYLC_TASK_WORK_PATH/../../../share
            SRCSHR={{ OPT_SOURCE_SHARE }}

            echo optclim_reuse:  DATASHR  ${DATASHR}
            echo optclim_reuse:  SRCSHR  ${SRCSHR}
            echo check quota
            lustrequota

            mkdir -p $DATASHR/fcm_make_um/extract/um/bin
            rsync -rv $SRCSHR/fcm_make_um/extract/um/bin/* $DATASHR/fcm_make_um/extract/um/bin

            mkdir -p $DATASHR/fcm_make_um/build-recon/bin
            rsync -rv $SRCSHR/fcm_make_um/build-recon/bin/* $DATASHR/fcm_make_um/build-recon/bin

            mkdir -p $DATASHR/fcm_make_um/build-atmos/bin
            rsync -rv $SRCSHR/fcm_make_um/build-atmos/bin/* $DATASHR/fcm_make_um/build-atmos/bin

            mkdir -p $DATASHR/fcm_make_pp/build/bin
            rsync -rv $SRCSHR/fcm_make_pp/build/bin/* $DATASHR/fcm_make_pp/build/bin

        """
        [[[job]]]
            execution time limit = PT10M

    [[optclim_prerun]]
        inherit = HPC_SERIAL
        script = """
             #env
            echo "optclim_prerun:"
            echo ln -s ${CYLC_SUITE_RUN_DIR}/app ${OPTCLIM_RUNDIR}/app
            ln -s ${CYLC_SUITE_RUN_DIR}/app ${OPTCLIM_RUNDIR}/app
            echo ln -s ${CYLC_SUITE_RUN_DIR} ${OPTCLIM_RUNDIR}/cylc_dir
            ln -s ${CYLC_SUITE_RUN_DIR} ${OPTCLIM_RUNDIR}/cylc_dir
            cd ${OPTCLIM_RUNDIR}

            echo edit namelists now....

            ${OPTCLIM_PARAM_EDIT} ./runParams.json ./
        """
        [[[job]]]
            execution time limit = PT10M
        [[[directives]]]
            --ntasks=1
            --mem=4G
            --time=00:10:00

        [[[environment]]]
            ROSE_TASK_APP    = optclim_prerun
            PREBUILD =
            ROSE_TASK_N_JOBS = 1
            ROSE_TASK_OPTIONS = --ignore-lock

    [[optclim_postrun]]
        inherit = HPC_SERIAL
        script = """
            ln -s ${CYLC_SUITE_RUN_DIR}/share/data/History_Data ${OPTCLIM_RUNDIR}/history
            ls ${OPTCLIM_RUNDIR}/history
                 # run optclim_finished to release the corresponding array job
                 # this was generated by UKESM.py
            echo POST  ${OPTCLIM_RUNDIR}/optclim_finished
            cat ${OPTCLIM_RUNDIR}/optclim_finished
            chmod +x  ${OPTCLIM_RUNDIR}/optclim_finished
            ${OPTCLIM_RUNDIR}/optclim_finished

                 # update the state file
            echo "FINISHED" > ${OPTCLIM_RUNDIR}/state
        """
       [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            --ntasks=1
            --mem=4G
            --time=00:10:00
        [[[environment]]]
            ROSE_TASK_APP    = optclim_postrun
            PREBUILD =
            ROSE_TASK_N_JOBS = 1
            ROSE_TASK_OPTIONS = --ignore-lock


